<nav role="navigation" aria-label="example with dropdowns" class="megamenu">
	<ul class="with-dropdowns">
		<li><a href="#">Home</a></li>
		<li>
			<a href="/about" aria-haspopup="true">About</a>
			<nav class="submenu">
				<ul aria-hidden="true" aria-label="submenu">
					<li class="submenu-item">
						<a href="/about/#who-we-are" aria-haspopup="true">Who we are</a>
						<nav class="micromenu">
							<ul aria-hidden="true" aria-label="submenu">
								<li>
									<a href="/about/#who-we-are">Deep</a>
								</li>
								<li>
									<a href="/about/#who-we-are">Deep</a>
								</li>
								<li><a href="/about/#what-we-do">List</a></li>
								<li><a href="/about/#why">Item</a></li>
							</ul>

							<div class="promotion">
								<div class="promo">
									Promotional content
								</div>
								<div class="promo">
									Promotional content
								</div>
							</div>

						</nav>

					</li>
					<li class="submenu-item">
						<a href="/about/#what-we-do">What we do</a>
						<nav class="micromenu">
							<ul aria-hidden="true" aria-label="submenu">
								<li>
									<a href="/about/#who-we-are">2nd list</a>
								</li>
								<li>
									<a href="/about/#who-we-are">Items</a>
								</li>
							</ul>

							<div class="promotion">
								<div class="promo">
									Promotional content
								</div>
								<div class="promo">
									Promotional content
								</div>
							</div>

						</nav>
					</li>
					<li class="submenu-item"><a href="/about/#why">Why</a></li>
				</ul>
			</nav>
		</li>
		<li><a href="#">Blog</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
</nav>
<br>
<br>
<br>